/*------------------------------------------------------------------
[autocomplete.css]
Authors:		Roy Van Liew and Jie Lou
Last Modified:	July 22, 2015
Description:	Styling for the autocomplete dropdown table in
                Search to allow it to be the same width
                as the input text field.
-------------------------------------------------------------------*/

/* Making the position absolute will allow the
   table to overlap on other elements */
.hints {
	position: absolute;
}

/* In our case, make the autocomplete
   dropdown's width the text field width */
table#hintTable {
	width: 100%;
}
